$accent: #AC86E2;
$secondary: #5D457E;
$background: #2F2638;
$background2: #1D1D2B;
$font: #fff;

* {
    all: unset;
    font-family: JetBrainsMono NerdFont;
    background-color: transparent;
}


.bar_main {
    margin: 0 8 0 8;
    color: $font;
}

.left_modules,
.right_modules,
.center_modules {
    padding: 0 12 0 12;
    border-radius: 16px;
    background-color: $background;
}

.module {
    margin-left: 4px;
    margin-right: 4px;
}

.seperator {
    color: $secondary;
    font-size: 18px;
}

// debug purposes
.meow{
    background-color: red;
}

.icon {
    font-size: 18;

    &.small {
        font-size: 14px;
        margin-right: 8px;
    }
    &.marginright{
        margin-right: 16px;
    }
    &.red{
        color: darkred;
    }
    margin-right: 2px;
}

.brightness_bar {}

.battery {

    // color: red;
    .Full {
        color: darkolivegreen;
    }
}

.tray {
    margin-left: 2px;
}

.popup {
    background-color: $background2;
    border-radius: 12px;

    :hover {
        color: $accent;
    }

    * {
        padding: 0 4 0 4;
    }

    :last-child {
        padding-bottom: 4px;
    }

    :first-child {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

scale trough {
    all: unset;
    background-color: $secondary;
    border-width: 0px;
    border-radius: 16px;
    min-height: 6px;
    min-width: 70px;
    margin-left: 10px;
    margin-right: 8px;

    slider {
        border-color: $accent;
        min-height: 4px;
        min-width: 4px;
    }

    highlight {
        border-color: $accent;
        background-color: $accent;
        border-radius: 10px;
    }
}


/** tooltip!! **/
tooltip.background {
    background-color: #000;
    font-size: 18;
    border-radius: 10px;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}




.cal_widget {
    margin-top: 4px;
    min-width: 400px;
    min-height: 300px;

    background-color: $background2;
    border-radius: 12;
    font-family: JetBrainsMono Nerd Font;
    font-size: 18px;
    font-weight: normal;
    border: 0.5px solid $accent;
    padding: 0 12 0 12px;

    .cal_inner {
        color: $accent;

        .cal {
            padding-bottom: 8px;
            padding-top: 8px;
            margin-left: 50px;

            &.highlight {
                color: $font;
                padding: 0px;
                margin: 0px;
            }
        }

    }
}

calender {
    color: $secondary;
}

calendar:selected {
    color: $font;
    text-shadow: 0 0 5px $accent, 0 0 10px $accent;
}

calendar.header {
    color: $accent;
}

calendar.button {
    color: $font;
}

calendar.highlight {
    color: $accent;
    font-weight: bold;
}

calendar:indeterminate {
    color: $secondary;
}

.workspaces-widget {
    .workspace-entry {
        color: $secondary;

        &.occupied {}

        &.empty {}

        &.current {
            color: $accent;
        }
    }
}