// $accent: #AC86E2;
// $secondary: #654B8A;
// $background: #2F2638;
// $background2: #1D1D2B;
// $font: #fff;

$accent: #C49EF4;
$secondary: #7e60a8;
// $background: #4B3D57;
$background: #24273a;
$background2: #1D1D2B;
$font: #fff;
$font-dark: #161320;
$border-col: $accent;
$border-radius-bar-modules: 8px;
$border-radius-window: 12px;
$outer-margin-base: 5px;
$outer-margin: 15px;

* {
    all: unset;
    font-family: Source Code Pro Medium;
    background-color: transparent;
}

.bar_main {
    margin: 0 $outer-margin-base 0 $outer-margin-base;
    color: $font;
}

.bar_other_monitor {
    .left_modules,
    .right_modules {
        color: $font;
    }
}


.left_modules,
.right_modules,
.center_modules {
    padding: 0 12 0 12;
    border-radius: $border-radius-bar-modules;
    background-color: $background;
}

.center_modules {
    background-color: $accent;
    color: $font-dark
}

.module {
    margin-left: 4px;
    margin-right: 4px;

    .notification {
        margin-left: 40px;
        background-color: red;
    }
}

.seperator {
    color: $secondary;
    font-size: 18px;
}

.window {
    border: 2px solid $border-col;
    margin-top: $outer-margin;
    border-radius: $border-radius-window;
    background-color: $background2;
}

// debug purposes
.meow {
    background-color: red;
}

.icon {
    font-size: 18;

    &.small {
        font-size: 14px;
        margin-right: 4px;
        margin-left: 2px;
    }

    &.marginright {
        margin-right: 16px;
    }

    &.red {
        color: darkred;
    }

    margin-right: 2px;
}

.brightness_bar {}

.clock {
    background-color: $accent;
}

.battery {

    // color: red;
    .Full {
        color: darkolivegreen;
    }
}

.tray {
    margin-left: 2px;
}

scale trough {
    all: unset;
    background-color: $secondary;
    border-width: 0px;
    border-radius: 16px;
    min-height: 6px;
    min-width: 70px;
    margin-left: 10px;
    margin-right: 8px;

    slider {
        min-height: 4px;
        min-width: 4px;
    }

    highlight {
        background-color: $accent;
        border-radius: 10px;
    }
}


/** tooltip!! **/
tooltip.background {
    background-color: #000;
    font-size: 18;
    border-radius: $border-radius-bar-modules;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}




.cal_widget {
    min-width: 400px;
    min-height: 300px;

    font-size: 18px;
    font-weight: normal;
    padding: 0 12 0 12px;

    .cal_inner {
        color: $accent;

        .cal {
            padding-bottom: 8px;
            padding-top: 8px;
            margin-left: 50px;

            &.highlight {
                color: $font;
                padding: 0px;
                margin: 0px;
            }
        }

    }
}

calender {
    color: $secondary;
}

calendar:selected {
    color: $font;
    text-shadow: 0 0 5px $accent, 0 0 10px $accent;
}

calendar.header {
    color: $accent;
}

calendar.button {
    color: $font;
}

calendar.highlight {
    color: $accent;
    font-weight: bold;
}

calendar:indeterminate {
    color: $secondary;
}

.workspaces-widget {
    .workspace-entry {
        color: $secondary;

        &.occupied {}

        &.empty {}

        &.current {
            color: $accent;
            text-shadow: 0 0 5px $accent, 0 0 10px $accent;
        }
    }
}


.media_widget {
    margin-left: calc($outer-margin - $outer-margin-base);
    min-width: 400px;
    min-height: 200px;
    padding: 8px;

    .media_inner {
        .song_cover_art {
            background-size: cover;
            background-position: center;
            min-height: 180px;
            min-width: 180px;
            margin: 12px;
            border-radius: $border-radius-window;
        }

        .media_controls {
            min-width: 200px;
            padding: 20px;

            .media_title {
                color: $accent;
                text-shadow: 0 0 10px $accent;
                font-size: 16px;
                padding: 8px;
                padding-bottom: 0px;
            }

            .media_artist {}

            .media_btn {
                font-size: 22px;

                &:hover {
                    color: $accent;
                }
            }

            .media_playpause {
                label {
                    margin: 5px;
                }
            }
        }
    }
}


.circle_module{
	border-radius: 16px;
    margin: 0px 10px 0px 3px;
    .btn{
        color: $background;
        font-size: 0px;
        margin: 8px;
    }
    .circle {
        background-color: $secondary;
        border-radius: 10px;
    }
}

.memory {
    color: #f5a97f;
}

.gpu {
    color: #ed8796;
}

.cpu{
    color: #c6a0f6;
}