*

!alacritty/
!alacritty/*


!hypr/
!hypr/*
!hypr/scripts
!hypr/scripts/*

!fuzzel/
!fuzzel/*

!eww/
!eww/*
!eww/scripts/
!eww/scripts/*
!eww/modules/
!eww/modules/*
!eww/modules/status/
!eww/modules/status/*

!swaync/
!swaync/*

!.gitignore
