*

!alacritty/
!alacritty/*

!waybar/
!waybar/*
!waybar/scripts/
!waybar/scripts/*

!hypr/
!hypr/*
!hypr/scripts
!hypr/scripts/*

!fuzzel/
!fuzzel/*

!eww/
!eww/*

!eww/scripts/
!eww/scripts/*

!swaync/
!swaync/*

!.gitignore
